<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{thymeleaf/util/begin::easyUI(title='Folder Browser')}">
</head>
<body>
<div class="easyui-layout" data-options="fit:true">
	<div data-options="region:'north',border:false" style="height: 30px">
		<div style="padding: 0 0">
			<div class="easyui-menubutton" data-options="plain:false" onclick="javascript:alert('easyui')">操作</div>
			<img style="vertical-align: middle; padding-left: 10px;"/>
			<span style="font-size: 14px; vertical-align: middle;">[[${commandBean?.primaryObj?.thingModel?.localDisplay}]] - </span>
			<span style="font-size: 14px; vertical-align: middle; font-weight: bold;" th:text="${commandBean.primaryObj.name}"></span>
		</div>
	</div>
	<div data-options="region:'west',border:false,split:true" style="width: 250px;">
		<table id="folderTree"></table>
	</div>
	<div data-options="region:'center',border:false">
		<table id="browserTable"></table>
	</div>
</div>
<script type="text/javascript">
	flame.loadGrid("folderTree", "xw.context.builder.FolderListTreeBuilder", {
		queryParams: {
			oid: '[[${commandBean.primaryOid}]]'
		},
		onClickRow: function (node) {
			flame.reloadGrid('browserTable', {
				oid: node.oid
			});
		}
	});
	flame.loadGrid("browserTable", "xw.context.builder.FolderBrowserTableBuilder", {
		queryParams: {
			oid: '[[${commandBean.primaryOid}]]'
		}
	});

	function enterFolder(folder) {
		flame.reloadGrid('browserTable', {
			queryParams: {
				oid: folder
			}
		});
	}
</script>
</body>
</html>