<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body th:insert="~{thymeleaf/util/popup::basic(section=~{::section}, script=~{::script}, before='saveXFlowNodeData')}">
<section class="easyui-tabs" data-options="fit:true">
    <input id="nodeId" type="hidden" th:value="${commandBean.getTextParameter('nodeId')}">
    <div th:title="#{attributes}" style="padding:10px">
        <table>
            <tr>
                <td style="width:70px;text-align:right;padding-right:5px;"><strong th:text="#{label_name}"></strong></td>
                <td style="padding-top:3px;"><input id="nodeLabel" name="nodeLabel" style="width:250px;height:25px"></input></td>
            </tr>
            <tr>
                <td style="width:70px;text-align:right;padding-right:5px;"><strong th:text="label_taskForm"></strong></td>
                <td style="padding-top:3px;"><input id="taskForm" name="taskForm" style="width:150px;height:25px"></input></td>
            </tr>
            <tr>
                <td style="width:70px;text-align:right;vertical-align:top;padding-right:5px;"><strong th:text="#{label_instructions}"></strong></td>
                <td style="padding-top:3px;"><textarea id="instructions" name="instructions" rows="4" cols="90"></textarea></td>
            </tr>
        </table>
    </div>
    <div th:title="#{activity}" style="padding:10px">

    </div>
    <div th:title="#{participants}" data-options="closable:false" style="padding:10px">

    </div>
</section>
<script type="text/javascript" th:inline="text">
    (($) => {
        const nodeId = $('#nodeId').val();
        const node = flowEditor.getXFlowNode(nodeId);
        const flowData = node.store.data;
        $('#nodeLabel').val(flowData.label);
        $('#instructions').val(flowData.instructions);
    })(jQuery);

    function saveXFlowNodeData(o) {
        const nodeId = $('#nodeId').val();
        const node = flowEditor.getXFlowNode(nodeId);
        const flowData = node.store.data;
        if (node) {
            const nodeLabel = $('#nodeLabel').val();
            const taskForm = $('#taskForm').val();
            const formUrl = $('#formUrl').val();
            const instructions = $('#instructions').val();
            flowData.label = nodeLabel;
            flowEditor.modifyNodeLabel(nodeId, nodeLabel);
        }
        flame.closeWindow(o);
    }
</script>
</body>
</html>