<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="javascript/antv/x6.min.js" th:href="@{/javascript/antv/x6.min.js}" type="text/javascript"></script>
    <script src="javascript/flame/flow.xui.js" th:href="@{/javascript/flame/flow.xui.js}" type="text/javascript"></script>
</head>
<body th:insert="~{thymeleaf/util/popup::default(title='Flow Monitor', section=~{::section}, script=~{::script})}">
<section class="easyui-layout" data-options="fit:true">

</section>
<script type="text/javascript">

</script>
</body>
</html>