<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{thymeleaf/util/begin::easyUI(title='Diagram')}"></head>
<body>
<script src="javascript/antv/x6.js" th:href="@{/javascript/antv/x6.js}" type="text/javascript"></script>
<script src="javascript/flame/flow.xui.js" th:href="@{/javascript/flame/flow.xui.js}" type="text/javascript"></script>
<section class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:true" style="height:32px;padding-left:5px;display:flex;align-items:center;">
        <div class="xui-flow">
            <table>
                <tr>
                    <td><button type="button" onclick="javascript:printFlowInfomation();"><img src="images/flow/json.png"></button></td>
                    <td><button type="button" onclick="javascript:completeSelectedTask();"><img src="images/flow/completenode.gif"></button></td>
                </tr>
            </table>
        </div>
    </div>
    <div data-options="region:'center',border:true" id="xflow.container">
    </div>
</section>
<script type="text/javascript" th:inline="text">
    var xflowEditor = null;
    (($) => {
        const dom_graph = document.getElementById('xflow.container');
        xflowEditor = new flow.FlowEditor(false, dom_graph, {
            editModel: false,
            readOnly: true
        });

        loadXWorkInstance();
    })(jQuery);

    /**
     * Workflow工作区中, 自动添加Start、End节点, 并且Start、End节点不能删除
     */
    function loadXWorkInstance() {
        axios.get('XUI$/get/xw.flow.processor.GetXWorkInstanceProcessor', {
            params: {
                oid: '[[${commandBean.primaryOid}]]'
            }
        }).then(response => {
            const result = response.data;
            if ('SUCCESS' == result.status) {
                xflowEditor.loadFlowEditor({
                    nodes: result.data.nodes,
                    edges: result.data.edges
                });
                /** loadFlowEditor()无法将自定义的属性xtype加载进X6.Graph中, 需要单独进行自定义属性的赋值 */
                for (let i = 0, len = result.data.nodes.length; i < len; i = i + 1) {
                    const item = result.data.nodes[i];
                    const node = xflowEditor.graph.model.collection.get(item.id);
                    if (node) {
                        node.xtype = item.xtype;
                    }
                }
            }
        }).catch(error => { // 请求失败处理
            console.log(error);
        });
    }

    function printFlowInfomation() {
        console.log(xflowEditor.selected);
        xflowEditor.graph.model.collection.cells.forEach(function (item, index, self) {
        });
    }

    function completeSelectedTask() {
        if (xflowEditor.selected.size == 0) {
            alert('请选中节点');
        } else if (xflowEditor.selected.size > 1) {
            alert('只能够选中一个节点');
        } else if (xflowEditor.selected.size == 1) {
            xflowEditor.selected.forEach(function (item, index, self) {
                axios.get('XUI$/get/xw.flow.processor.CompleteFlowNodeProcessor', {
                    params: {
                        oid: '[[${commandBean.primaryOid}]]',
                        nodeId: item.id
                    }
                }).then(response => {
                    const result = response.data;
                    if ('SUCCESS' == result.status) {
                        loadXWorkInstance();
                    }
                }).catch(error => { // 请求失败处理
                    console.log(error);
                });
            });
        }
    }
</script>
</body>
</html>