<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--beginBasic----------------------------------------------------------------------------------------------------- -->
<head th:fragment="basic()">
	<title th:text="${title}"></title>
	<meta content="text/html;charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<!-- 从HREFRactory类的静态方法getBaseHREF()获取baseHref -->
	<base id="basehref" th:href="${baseHref}" th:with="baseHref=${T(com.flame.xui.HREFactory).getBaseHREF()}">
	<script src="javascript/axios/axios.min.js" th:href="@{/javascript/axios/axios.min.js}" type="text/javascript"></script>
	<script src="javascript/easyui/jquery.min.js" th:href="@{/javascript/easyui/jquery.min.js}" type="text/javascript"></script>
	<script src="javascript/flame/flame.cookie.js" th:href="@{/javascript/flame/flame.cookie.js}" type="text/javascript"></script>
	<link href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
	<link href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
	<!--/* Per-page placeholder for additional links */-->
	<th:block th:if="${link}">
		<th:block th:replace="${link}"/>
	</th:block>
	<th:block th:if="${script}">
		<th:block th:replace="${script}"/>
	</th:block>
	<th:block th:if="${style}">
		<th:block th:replace="${style}"/>
	</th:block>
</head>

<!--beginDefault----------------------------------------------------------------------------------------------------- -->
<head th:fragment="default()">
	<title th:text="${title}"></title>
	<meta content="text/html;charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<!-- 从HREFRactory类的静态方法getBaseHREF()获取baseHref -->
	<base id="basehref" th:href="${baseHref}" th:with="baseHref=${T(com.flame.xui.HREFactory).getBaseHREF()}">
	<script src="javascript/easyui/jquery.min.js" th:href="@{/javascript/easyui/jquery.min.js}" type="text/javascript"></script>
	<script src="javascript/axios/axios.min.js" th:href="@{/javascript/axios/axios.min.js}" type="text/javascript"></script>
	<script src="javascript/vue/vue.global.prod.js" th:href="@{/javascript/vue/vue.global.prod.js}" type="text/javascript"></script>
	<script src="javascript/flame/flame.cookie.js" th:href="@{/javascript/flame/flame.cookie.js}" type="text/javascript"></script>
	<script src="javascript/flame/common.xui.js" th:src="@{/javascript/flame/common.xui.js}" type="text/javascript"></script>
	<script src="javascript/flame/flame.xui.js" th:href="@{/javascript/flame/flame.xui.js}" type="text/javascript"></script>
	<script src="javascript/flame/flame.thing.js" th:href="@{/javascript/flame/flame.thing.js}" type="text/javascript"></script>
	<link href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
	<link href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
	<!--/* Per-page placeholder for additional links */-->
	<th:block th:if="${link}">
		<th:block th:replace="${link}"/>
	</th:block>
	<th:block th:if="${script}">
		<th:block th:replace="${script}"/>
	</th:block>
	<th:block th:if="${style}">
		<th:block th:replace="${style}"/>
	</th:block>
</head>

<!--beginEasyUI----------------------------------------------------------------------------------------------------- -->
<head th:fragment="easyUI()">
	<title th:text="${title}"></title>
	<meta content="text/html;charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<base id="basehref" th:href="${baseHref}" th:with="baseHref=${T(com.flame.xui.HREFactory).getBaseHREF()}">
	<script src="javascript/easyui/jquery.min.js" th:href="@{/javascript/easyui/jquery.min.js}" type="text/javascript"></script>
	<script src="javascript/axios/axios.min.js" th:href="@{/javascript/axios/axios.min.js}" type="text/javascript"></script>
	<script src="javascript/easyui/jquery.easyui.min.js" th:href="@{/javascript/easyui/jquery.easyui.min.js}" type="text/javascript"></script>
	<script src="javascript/easyui/datagrid-detailview.js" th:href="@{/javascript/easyui/datagrid-detailview.js}" type="text/javascript"></script>
	<script src="javascript/flame/bootstrap.min.js" th:href="@{/javascript/flame/bootstrap.min.js}" type="text/javascript"></script>
	<script src="javascript/flame/flame.cookie.js" th:href="@{/javascript/flame/flame.cookie.js}" type="text/javascript"></script>
	<script src="javascript/flame/common.xui.js" th:src="@{/javascript/flame/common.xui.js}" type="text/javascript"></script>
	<script src="javascript/flame/flame.xui.js" th:href="@{/javascript/flame/flame.xui.js}" type="text/javascript"></script>
	<script src="javascript/flame/flame.thing.js" th:href="@{/javascript/flame/flame.thing.js}" type="text/javascript"></script>
	<link href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
	<link href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
	<link href="css/flame/themes-xui.css" th:href="@{/css/flame/themes-xui.css}" rel="stylesheet" type="text/css"/>
	<link href="css/flame/themes-icon.css" th:href="@{/css/flame/themes-icon.css}" rel="stylesheet" type="text/css" />
	<link href="css/flame/easyui/tabs.css" th:href="@{/css/flame/easyui/tabs.css}" rel="stylesheet" type="text/css" />
	<link href="css/flame/easyui/easyui.css" th:href="@{/css/flame/easyui/easyui.css}" rel="stylesheet" type="text/css"/>

	<!--/* Per-page placeholder for additional links */-->
	<th:block th:if="${link}">
		<th:block th:replace="${link}"/>
	</th:block>
	<th:block th:if="${script}">
		<th:block th:replace="${script}"/>
	</th:block>
	<th:block th:if="${style}">
		<th:block th:replace="${style}"/>
	</th:block>
	<script type="text/javascript" th:id="|easyui-script-${randomUUID}|">
		(($)=>{
			if ($.parser) {
				$.parser.auto = true;
			}
		})(jQuery);
	</script>
</head>

<!--beginAntd----------------------------------------------------------------------------------------------------- -->
<head th:fragment="antd()">
	<title th:text="${title}"></title>
	<meta content="text/html;charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<base id="basehref" th:href="${baseHref}" th:with="baseHref=${T(com.flame.xui.HREFactory).getBaseHREF()}">
	<script src="javascript/easyui/jquery.min.js" th:href="@{/javascript/easyui/jquery.min.js}" type="text/javascript"></script>
	<script src="javascript/axios/axios.min.js" th:src="@{/javascript/axios/axios.min.js}" type="text/javascript"></script>
	<script src="javascript/flame/flame.cookie.js" th:href="@{/javascript/flame/flame.cookie.js}" type="text/javascript"></script>
	<script src="javascript/vue/vue.global.prod.js" th:href="@{/javascript/vue/vue.global.prod.js}" type="text/javascript"></script>
	<!-- ant design依赖于dayjs，不引入dayjs会报extend的错误 -->
	<script src="javascript/antd/dayjs.min.jss" th:src="@{/javascript/antd/dayjs.min.js}" type="text/javascript"></script>
	<script src="javascript/antd/antd.js" th:src="@{/javascript/antd/antd.js}" type="module"></script>

	<link href="javascript/antd/antd.css" th:href="@{/javascript/antd/antd.css}" rel="stylesheet" type="text/css"/>
	<link href="css/flame/themes-icon.css" th:href="@{/css/flame/themes-icon.css}" rel="stylesheet" type="text/css"/>
	<!--/* Per-page placeholder for additional links */-->
	<th:block th:if="${link}">
		<th:block th:replace="${link}"/>
	</th:block>
	<th:block th:if="${script}">
		<th:block th:replace="${script}"/>
	</th:block>
	<th:block th:if="${style}">
		<th:block th:replace="${style}"/>
	</th:block>
</head>

<!--beginElement----------------------------------------------------------------------------------------------------- -->
<head th:fragment="elementUI()">
	<title th:text="${title}"></title>
	<meta content="text/html;charset=UTF-8"/>
	<link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<base id="basehref" th:href="${baseHref}" th:with="baseHref=${T(com.flame.xui.HREFactory).getBaseHREF()}">
	<script src="javascript/easyui/jquery.min.js" th:href="@{/javascript/easyui/jquery.min.js}" type="text/javascript"></script>
	<script src="javascript/axios/axios.min.js" th:src="@{/javascript/axios/axios.min.js}" type="text/javascript"></script>
	<script src="javascript/flame/flame.cookie.js" th:href="@{/javascript/flame/flame.cookie.js}" type="text/javascript"></script>
	<script src="javascript/vue/vue.global.prod.js" th:href="@{/javascript/vue/vue.global.prod.js}" type="text/javascript"></script>
	<script src="javascript/element/index.full.min.js" th:src="@{/javascript/element/index.full.min.js}" type="text/javascript"></script>
	<link href="javascript/element/index.min.css" th:href="@{/javascript/element/index.min.css}" rel="stylesheet" type="text/css"/>
	<link href="css/flame/themes-icon.css" th:href="@{/css/flame/themes-icon.css}" rel="stylesheet" type="text/css"/>
	<!--/* Per-page placeholder for additional links */-->
	<th:block th:if="${link}">
		<th:block th:replace="${link}"/>
	</th:block>
	<th:block th:if="${script}">
		<th:block th:replace="${script}"/>
	</th:block>
	<th:block th:if="${style}">
		<th:block th:replace="${style}"/>
	</th:block>
</head>

<!--beginVue----------------------------------------------------------------------------------------------------- -->
<head th:fragment="beginVue()">
	<title th:text="${title}"></title>
	<meta content="text/html;charset=UTF-8"/>
	<link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<base id="basehref" th:href="${baseHref}" th:with="baseHref=${T(com.flame.xui.HREFactory).getBaseHREF()}">
	<script src="javascript/easyui/jquery.min.js" th:href="@{/javascript/easyui/jquery.min.js}" type="text/javascript"></script>
	<script src="javascript/axios/axios.min.js" th:href="@{/javascript/axios/axios.min.js}" type="text/javascript"></script>
	<script src="javascript/flame/flame.cookie.js" th:href="@{/javascript/flame/flame.cookie.js}" type="text/javascript"></script>
	<script src="javascript/vue/vue.global.prod.js" th:href="@{/javascript/vue/vue.global.prod.js}" type="text/javascript"></script>
	<link href="css/flame/themes-icon.css" th:href="@{/css/flame/themes-icon.css}" rel="stylesheet" type="text/css"/>
	<!--/* Per-page placeholder for additional links */-->
	<th:block th:if="${link}">
		<th:block th:replace="${link}"/>
	</th:block>
	<th:block th:if="${script}">
		<th:block th:replace="${script}"/>
	</th:block>
	<th:block th:if="${style}">
		<th:block th:replace="${style}"/>
	</th:block>
</head>
