<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta content="text/html;charset=UTF-8"/>
	<link href="/css/flame/easyui/easyui.css" th:href="@{/css/flame/easyui/easyui.css}" rel="stylesheet"/>
	<link href="/css/flame/easyui/tabs.css" th:href="@{/css/flame/easyui/tabs.css}" rel="stylesheet"/>
	<link href="/css/flame/themes-icon.css" th:href="@{/css/flame/themes-icon.css}" rel="stylesheet"/>

	<script src="/javascript/easyui/jquery.min.js" th:src="@{/javascript/easyui/jquery.min.js}" type="text/javascript"></script>
	<script src="/javascript/easyui/jquery.easyui.min.js" th:src="@{/javascript/easyui/jquery.easyui.min.js}" type="text/javascript"></script>
	<script src="/javascript/flame/flame.thing.js" th:src="@{/javascript/flame/flame.thing.js}" type="text/javascript"></script>
	<script src="/javascript/flame/common.xui.js" th:src="@{/javascript/flame/common.xui.js}" type="text/javascript"></script>
	<script src="/javascript/flame/flame.xui.js" th:src="@{/javascript/flame/flame.xui.js}" type="text/javascript"></script>
</head>
<body>
	<form id="groupForm" method="post">
		<input id="oid" name="oid" hidden="true" value="">
		<br>
		<table style="align:center;font-size:12px">
		</table>
	</form>
</body>
</html>