<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:insert="~{thymeleaf/util/popup::default(section=~{::section}, script=~{::script}, before='collectSelectedOid')}">
    <section class="easyui-layout" data-options="fit:true">
        <input type="hidden" name="selectedOids" id="selectedOids" />
        <div data-options="region:'north',border:false" style="height:100px">
            <div id="objectSearchForm" />
        </div>
        <div data-options="region:'center',border:false">
            <table id="objectQueryResult" class="easyui-datagrid" data-options="idField:'oid',fit:true,singleSelect:true,rownumbers:false,pagination:false" th:title="#{queryResult}">
                <thead>
                    <tr>
                        <th data-options="field:'oid',checkbox:true"></th>
                        <th data-options="field:'icon',width:25,align:'center',formatter:flame.iconFormatter"></th>
                        <th data-options="field:'number',width:120,align:'left'" th:text="#{label_number}">编号</th>
                        <th data-options="field:'name',width:160,align:'left'" th:text="#{label_name}">名称</th>
                        <th data-options="field:'version',width:80,align:'center'">版本</th>
                        <th data-options="field:'createdStamp',width:150,align:'center'">创建时间</th>
                        <th data-options="field:'modifiedStamp',width:150,align:'center'">修改时间</th>
                    </tr>
                </thead>
            </table>
        </div>
    </section>

    <script type="text/javascript">
        flame.loadGrid('objectSearchForm', 'com.thing.form.ObjectTypeSearchForm', {});

        function queryObject() {
            const objectType = $('#objectType').combobox('getValue');
            const searchKey = $('#searchKey').textbox('getValue');
            if (isBlank(objectType)) {
                $.messager.alert('warning', '请选择对象类型');
                return;
            }
            if (isBlank(searchKey)) {
                $.messager.alert('warning', '请输入编号或名称');
                return;
            }
            axios.get('XUI$/get/xw.flow.processor.QueryObjectProcessor', {
                params: {objectType: objectType, searchKey: searchKey}
            }).then(function (response) {
                const result = response.data;
                if ('SUCCESS' == result.status) {
                    $('#objectQueryResult').datagrid('loadData', result.data);
                }
            }).catch(error => {console.log(error);});
        }

        function collectSelectedOid(o) {
            const row = $('#objectQueryResult').datagrid('getSelected');
            if (!row) {
                $.messager.alert('warning', '请选中一条数据');
                return false;
            }
            $('#selectedOids').val(JSON.stringify([row.oid]));
            return true;
        }
    </script>
</body>

</html>
