<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{thymeleaf/util/begin::easyUI(title='用户任务列表')}">
</head>
<body style="padding:3px;">
<form id="flame_taskForm" method="post" th:enctype="${enctype}" th:fragment="default()" style="height:100%;width:100%;">
    <input type="hidden" id="rowId" name="rowId" th:value="${commandBean.rowId}"/>
    <input type="hidden" id="primaryOid" name="primaryOid" th:value="${commandBean.primaryOid}"/>
    <input type="hidden" id="returnWorkTaskURL" th:value="${T(com.flame.xui.HREFactory).getHREF('#thymeleaf/xflow/instance/listUserTask.html')}"/>

    <div id="XWorkTaskPrimaryForm" style="overflow-y:hidden;"></div>

    <th:block th:with="taskForm=${T(xw.flow.XFlowExecutionHelper).getTaskForm(commandBean)}">
        <th:block th:if="${taskForm!=null}">
            <th:block th:replace="${taskForm}::default()"/>
        </th:block>
    </th:block>

    <script type="text/javascript">
        flame.loadGrid('XWorkTaskPrimaryForm', 'xw.flow.form.XWorkTaskPrimaryForm', {
            queryParams: {
                oid: '[(${commandBean.primaryOid})]'
            }
        });

        function completeCallback() {
            $.messager.alert('消息','任务完成');
            $(location).attr('href', $('#returnWorkTaskURL').val());
        }
    </script>
</form>
</body>

</html>